<div class="py-2">
  <button type="button" class="btn btn-primary ps-4" data-bs-toggle="modal" data-bs-target="#addAccountModal">
    <i class="bx bx-plus fs-xl me-2"></i>
    Ajouter un compte
  </button>
</div>

<div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAccountModalLabel">Ajouter un compte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #accountForm="ngForm" (ngSubmit)="submitAccountForm(accountForm)">
          <div class="form-group">
            <label for="accountType">Account Type</label>
            <select id="accountType" class="form-control" name="accountType" required [(ngModel)]="newAccount.account['accountType']">
              <option value="" disabled selected>Choisir un type de compte</option>
              <option value="Compte Epargne">Compte Epargne</option>
              <option value="Compte Chèque">Compte Chèque</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>  
  
  <!-- Account details -->
  <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
    <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
      <h1 class="h2 pt-xl-1 pb-3"></h1>
  
      <!-- Existing account -->
      <div class="w-100">
        <div _ngcontent-avu-c59="" class="card border-0 shadow-sm overflow-hidden mb-4 p-0">
          <div _ngcontent-avu-c59="" class="row g-0">
            <div _ngcontent-avu-c59="" class="col-8">
              <div _ngcontent-avu-c59="" class="card-body">
                <h2 _ngcontent-avu-c59="" class="h4 pb-1 mb-2">
                  <a class="m-0" routerLink="/details/">Compte {{ dataProfile.accountType }}</a>
                </h2>
                <p _ngcontent-avu-c59="" class="m-0">RIB: {{ dataProfile.rib }}</p>
              </div>
            </div>
            <div _ngcontent-avu-c59="" class="col-4 selfCenter text-center textShadow" style="color: green;"><b _ngcontent-avu-c59="">{{ dataProfile.solde }}<span _ngcontent-avu-c59="" class="text-bold" style="font-size: 30px;"> TND</span></b>
            </div>
          </div>
        </div>
      </div>
  






 <!-- Existing accounts -->
 <div class="w-100">
  <div class="card border-0 shadow-sm overflow-hidden mb-4 p-0" *ngFor="let account of userAccounts">
    <div class="row g-0">
      <div class="col-8">
        <div class="card-body">
          <h2 class="h4 pb-1 mb-2">
            <a class="m-0" routerLink="/details/">{{ account.accountType }}</a>
          </h2>
          <p class="m-0">RIB: {{ account.rib }}</p>

          <!-- Ajouter le formulaire pour la demande de carte -->
          <form (ngSubmit)="submitCardRequestForm(cardRequestForm)" #cardRequestForm="ngForm">
            <div class="form-group">
              <label for="cardRequestAccountType">Type de compte</label>
              <input type="text" class="form-control" id="cardRequestAccountType" name="accountType" [(ngModel)]="cardRequest.accountType" required>
            </div>
            <div class="form-group">
              <label for="cardRequestRib">RIB</label>
              <input type="text" class="form-control" id="cardRequestRib" name="rib" [(ngModel)]="cardRequest.rib" required>
            </div>
            <!-- Ajoutez d'autres champs pour les détails de la demande de carte -->

            <button type="submit" class="btn btn-primary">Demander une carte</button>
          </form>
          
        </div>
      </div>
      <div class="col-4 selfCenter text-center textShadow" style="color: green;">
        <b>{{ account.solde }}<span class="text-bold" style="font-size: 30px;">TND</span></b>
      </div>
    </div>
  </div>

  <!-- Afficher les cartes demandées -->
  <div class="card border-0 shadow-sm overflow-hidden mb-4 p-0" *ngFor="let card of cards">
    <div class="row g-0">
      <div class="col-8">
        <div class="card-body">

          <h2 class="h4 pb-1 mb-2">
            <a class="m-0" routerLink="/details/">{{ card.accountType }}</a>
          </h2>
          <p class="m-0">RIB: {{ card.rib }}</p>
        </div>
      </div>
      
    </div>
  </div>
</div>
